#download{
	/*background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../resources/milling.jpg");*/
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 50px 5px;
}

#download h1{
	color:#000;
}

#download p{
	color:gray;
}

#download .card{
	background-color: #fff;
}

#download .card2{
	background-color: transparent;
}

.price-card{
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width:100%;
	border-radius: 5px;
	margin-top:20px; 
}

@media only screen and (min-width: 768px) {
  .price-card{
    width:50%;
    margin-top:0;
  }

  #download .card{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }

  #download .card2{
    margin-left: auto;
    margin-right: auto;
  }
}

.price-card .header {
  background-color: #fff;
  color: var(--main-font-color);
  font-size: 35px;
}

.price-card li {
  border-bottom: 1px solid #D6D6D6;
  padding: 20px;
  text-align: center;
}

.price-card li span{
	color:var(--main-font-color);
	font-size: 1em;
	font-weight: bold;
}

.price-card .grey {
  background-color: #fff;
  font-size: 20px;
  border:none;
}

.button {
  background-color: transparent;
  border:1px solid red;
  color:red;
  border-radius: 5px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

#download .card2 .header{
	background-color: transparent;
}

#download .card2 .grey{
	background-color: transparent;
  border:none;
}

#download .card2 .button{
	border:1px solid var(--main-font-color);
  color:var(--main-font-color);
}

