
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  background-color:#fff;
  background-color: transparent;
  padding: 5px 5px;
  position: relative;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 32px;
  border-radius: 4px;
}

.header a {
  float: none;
  display: block;
  text-align: left;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color:var(--title-color);
  width: 50%;
}

.header-right {
  float: none;
}

.header-right a:hover {
  color: var(--main-font-color);
}


.header a.active {
  color: var(--main-font-color);
}

.header a.download{
  border:1px solid var(--main-font-color);
  color: var(--main-font-color);
}


@media only screen and (min-width: 768px) {
  .header a {
    float: left;
  }
  
  .header-right {
    float: right;
    display: inline;
  }
}







