#menu{
	width: 100%;
	height: 50px;
	position: relative;
}

#menu a {
 	color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px; 
  border-radius: 4px;
}

#menu .logo{
	position: absolute;
	top:50%;
	left: 10px;
	transform: translateY(-50%);
	font-size: 25px;
  font-weight: bold;
  color:var(--title-color);
  background-color: var(--main-font-color);
  padding: 5px;
}

#menu .logo span{
	color: #fff;
}

#menu .features-box{
	position: absolute;
	top:50%;
	right: 10px;
	transform: translateY(-50%);
	height: auto;
}

#menu .features-box::after{
	clear: both;
}

#menu .features-box .hamburger{
	position: relative;
	padding: 10px;
	font-size: 16px;
  font-weight: bold;
  float: left;
}

#menu .features-box .hamburger:hover{
	cursor: pointer;
}

#menu .features-box .hamburger div{
	width:25px;
	height: 1px;
	margin:5px 0px;
	background-color: #000;
}
