*{
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 0px 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* For mobile phones: */
[class*="col-"]{
  width: 100%;
}

.col-xs-1 {width: 8.33%;}
.col-xs-2 {width: 16.66%;}
.col-xs-3 {width: 25%;}
.col-xs-4 {width: 33.33%;}
.col-xs-5 {width: 41.66%;}
.col-xs-6 {width: 50%;}
.col-xs-7 {width: 58.33%;}
.col-xs-8 {width: 66.66%;}
.col-xs-9 {width: 75%;}
.col-xs-10 {width: 83.33%;}
.col-xs-11 {width: 91.66%;}
.col-xs-12 {width: 100%;}

.in-mobile-hide{ display: none;}
.in-mobile-show{ display: block;}
.in-mobile-align-left{ text-align: left;}
.in-mobile-align-center{ text-align: center;}
.in-mobile-align-right{ text-align: right;}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .in-tablet-hide{ display: none;}
  .in-tablet-show{ display: block;}
  .in-tablet-align-left{ text-align: left;}
  .in-tablet-align-center{ text-align: center;}
  .in-tablet-align-right{ text-align: right;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .in-desktop-hide{ display: none;}
  .in-desktop-show{ display: block;}
  .in-desktop-align-left{ text-align: left;}
  .in-desktop-align-center{ text-align: center;}
  .in-desktop-align-right{ text-align: right;}
}

.menu-column {
  float: left;
}
